.menu {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-right: solid 1px lightgrey;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px lightgrey;
  }

  .menu-button {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
  
  .menu-button:hover {
    background-color: #957DAD;
    color: white;
  }
  
  .menu h1 {
    font-size: 22px;
    font-weight: bolder;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .add-note-button {
    width: 58px;
    height: 100%;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-note-button:hover {
    background-color: #957DAD;
    color: white;
    cursor: pointer;
  }
  
  .default-menu {
    color: grey;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
  }