.note {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px lightgrey;
    height: 100px;
    width: 250px;
}

.note-header {
    padding: 10px;
    font-weight: bolder;
    max-width: 230px;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.note-body {
    padding:10px;
    font-size: 14px;
    max-height: 2.6em;
    max-width: 230px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis; /*fix*/
}

.note:hover {
    background-color: #957DAD;
    color: white;
}

.note:hover .note-date {
    color: white;
}

.active {
    background-color: #957DAD;
    color: white;
}

.active .note-date {
    color: white;
}

.note-date {
    color: grey;
    font-size: 10px;
    padding-left: 10px;
}


